/* cyrillic-ext */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  html, body {
      max-width: 100%;
      /* overflow-x: hidden; */
  }
  .btn.focus, .btn:focus{
      box-shadow:none!important;
  }
  *:focus {
      outline: none;
  }
  button:focus {outline:0;}
  .bg-light-hdi{
      height: 80px;
      z-index: 9;
  }
  .navbar-light-hdi{
      background: #ffffff;
      transition: all 0.2s;
  }
  .navbar-light-hdi.hide-border{
      border-color: #00000000!important;
      background: none!important;
  }
  input[type="button"]{
     outline:none;
  }
  input[type="button"]::-moz-focus-inner {
     border: 0;
  }
  .navbar-light-hdi{
      padding-left: 35px;
      padding-right: 35px;
      border-bottom: 1px solid #EEEEEE;
  }
  .title-header{
      text-transform: uppercase;
      color: #329945;
      font-family: Nunito;
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
  }
  .title-header-placholder{
      width: 100%;
  }
  .title-header{
      width: 100%;
      text-align: center;
  }
  .header-r-menu{
      display: flex;
  }

  .btn-dropdown-lang .dropdown-toggle{
      background: #ffffff!important;
      border: none;
      color: #329945;
      font-family: Nunito;
      font-size: 16px;
      font-weight: 600;
      margin-right: 20px;
  }
  .btn-dropdown-lang .dropdown-toggle:hover{
      color: #208033;
  }
  .btn-dropdown-lang .dropdown-toggle i{
      margin-right: 5px;
  }
  .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
      box-shadow:none!important;
  }
  .btn-dropdown-lang .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
      border-radius: 25px;
      border-color: #005cbf!important;
  }
  .help-menu-text:hover{
      color: #e67e22;
  }
  .help-menu-text{
      background: none!important;
      border: none;
      color: #329945;
      font-family: Nunito;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }
  .help-menu-text div{
      min-width: 80px;
  }
  .help-menu-text div i{
      margin-right: 5px;
  }

  .pg-container{
      padding: 25px;
  }
  .pg-container .h5-title{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #DA2128;
      margin: 0;
  }



  .buy {
    display: block;
    font-size: 12px;
    font-weight: bold;
    background-color: #4e558f;
    padding: 0 18px;
    line-height: 30px;
    border-radius: 0px;
    color: #fff;
    text-decoration: none;
  }



  .go-to-payment:hover, .go-to-payment:active{
      background: #59bb6d63!important;
      color: #329945!important;
      border-color:#59bb6c!important;
  }

  .banner{
      background: linear-gradient(180deg, #5BBD6F 0%, #329945 100%);

  }
  .app-screenshot{
      height: auto;
      width: 100%;
      max-width: 410px;
  }
  .banner h1{
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
      line-height: 30px;
      color: #FFFFFF;
  }
  .banner h2 b{
      font-weight: 800;
      clear: both;
      display: inline-block;
  }
  .banner h2{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 28px;
      line-height: 35px;
      color: #FFFFFF;
      margin-bottom: 30px;
  }
  .banner p{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 27px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin: 0;
  }
  .logo-hdi-white{
      margin-bottom: 20px;
      width: 81px;
      height: 59px;
  }
  .logo-vj{
      width: 147px!important;
      height: 29px!important;
      margin-left: 19px;
  }

  .child-bg{
      width: 100%;
      height: 100%;
      padding-top: 30px;
      background-image: url('/img/bg-banner-pattern.png');
      background-size: cover;
  }
  .app-download{
      display: flex;
      margin-top: 30px;
  }
  .app-download .btn-download-group{
      display: block;
  }
  .app-download .btn-download-group img{
      height: 58px;
      width: 160px;
      display: block;

  }
  .mg-20{
      margin-top: 20px;
  }
  .app-download .qr-app{
      width: 145px;
      height: 145px;
  }
  .app-download .app-dive-text{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #FFFFFF;
      margin: 0px 30px;
      line-height: 145px;
  }
  .footer{
      padding: 0px 35px;
      border-top: 1px solid #EEEEEE;
  }
  .footer .col-md-6{
      line-height: 65px;
  }
  .footer p{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #212121;
      margin: 0;
  }
  .footer .right{
      display: flex;
      justify-content: flex-end;
  }
  .footer .right p:first-child{
      margin-right: 20px;
  }
  .footer .right p a{
      color: #329945;
      font-size: 16px;
      font-weight: bold;
  }
  .footer .right p i{
      color: #999999;
  }
  .drop-item-mn i{
      color: #BBBBBB;
      font-size: 12px;
      padding-top: 5px;
  }
  .drop-item-mn{
      display: flex;
  }
  .drop-item-mn{

  }
  .dropdown-item{
      padding: 0.8rem 0.9rem!important;
  }
  .drop-item-mn .text{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #212121;
      width: 154px;
      padding-left: 10px;
  }
  .fl-text-area{

  }
  .dropdown-menu{
      padding: 0!important;
  }
  .dropdown-divider{
      margin: 0!important;
  }
  .dropdown-item.active, .dropdown-item:active{
      background-color: #E7FCEE;
  }
  .drop-item-mn .fa-check-circle{
      color: #329945;
  }
  .dropdown-menu.show{
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      overflow: hidden;
  }
  .select-payment-text{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: #212121;
      margin: 0;
  }
  /* .navbar-brand{
      width: 100%;
  } */
  .navbar-collapse{
      width: 100%;
  }
  .navbar-brand img{
      width: 69px;
      height: 48px;
  }
  .navbar-light-hdi{
      /* position: sticky; */
      top: 0;
      z-index: 1000;
  }
  .payment-error-container{

  }
  .payment-status-container .orange-banner{
      height: 200px;
      background: #F97A5D;
  }
  .payment-status-container .green-banner{
      height: 200px;
      background: #329945;
  }
  .payment-status-container .error-frame{
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
      margin-top: -160px;
      padding: 50px 10px;
      text-align: center;
  }
  .payment-status-container .img-err-obj img{
      max-width: 375px;
      margin: 0 auto;
  }
  .payment-status-container .img-err-obj{
      text-align: center;
  }
  .payment-status-container .error-frame h1{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #DA2128;
      margin-top: 30px;
  }
  .payment-status-container  .text-green{
      color: #212121!important;
  }
  .payment-status-container .text-red{
      color: #DA2128;
      font-weight: bold;
  }
  .payment-status-container .error-frame p{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #212121;
      margin-bottom: 30px;
  }

  .payment-status-container .back-to-previous{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 24px;
      padding: 12px 30px;
      text-decoration: none;
      transition: all 0.5s;
  }
  .payment-status-container.success .back-to-previous{
      color: #329945;
      border: 1px solid #329945;
  }
  .payment-status-container.error .back-to-previous{
      color: #DA2128;
      border: 1px solid #DA2128;
  }
  .payment-status-container.success .back-to-previous:hover{
      background: #4caf5045;
      text-decoration: none;
  }
  .payment-status-container.error .back-to-previous:hover{
      color: #da2228;
      background: #fa7b5d26;
      text-decoration: none;
  }
  .view-more-product:hover{
      color: #ffffff!important;
  }
  .view-more-product{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 24px;
      padding: 12px 30px;
      text-decoration: none;
      transition: all 0.5s;
      color: #fff;
      background: #329945;
  }
  .products{
      margin-top: 20px;
      padding-bottom: 40px;
      position: relative;
      background: linear-gradient(180deg, rgba(231, 246, 236, 0) 0%, #E7F6EC 100%);
  }
  .products ul{
      list-style: none;
      padding: 0;
  }
  .products h3{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      color: #CA3732;
  }
  .products .product-item{
      background: #FFFFFF;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
      border-radius: 6px;
  }
  .products .product-item .ifo{
      padding: 20px;
  }
  .products .product-item .ifo h5{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: #CA3732;
      text-decoration: none;
  }
  .products .product-item .ifo a:hover{
      text-decoration: none;
  }
  .products .product-item .ifo .view-detail{
      width: 100%;
      display: block;
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #666666;
      transition: all 0.5s;
  }
  .products .product-item .ifo .view-detail:hover{
      text-decoration: none;
      color: #329945;
  }
  .products .product-item .ifo .view-detail i{
      margin-left: 5px;
      transition: all 0.5s;
  }
  .products .product-item .ifo .view-detail:hover i{
      margin-left: 10px;
      transition: all 0.5s;
      color: #319945;
  }
  .products .product-item .ifo .view-insurance-benefits:hover{
      font-style: italic;
  }
  .products .product-item .ifo .view-insurance-benefits{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      align-items: center;
      text-align: center;
      text-decoration-line: underline;
      width: 100%;
      display: block;
      color: #CA3732;
      border-top: 1px solid #F1F1F1;
      margin-top: 10px;
      padding-top: 15px;
      transition: all 0.5s;
  }
  .products .product-item img{
      width: 100%;
  }
  .more-product{
      text-align: center;
      padding: 35px 20px;
      padding-bottom: 50px;
      position: relative;
  }

  .more-product a{
      background: #DA2128;
      border-radius: 24px;
      color: #fff;
      padding: 15px 20px;
      transition: background 0.2s;
  }
  .more-product a:hover{
      background: #c11b21;
      text-decoration: none;
  }

  .partice-bg{
      background-image: url('/img/bg-partice.svg');
      width: 100%;
      height: 273px;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .head-top-banner{
      position: relative;
  }
  .head-top-banner .search-form-container{
      background: #FFFFFF;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      margin-top: -126px;
      z-index: 999;
      position: relative;
  }
  .custom-control-input:checked~.custom-control-label::before{
      border-color: #329945;
      background-color: #329945;
  }



  .custom-control-label{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #777777;
  }
  .border-ip{
      border: 1px solid #ddd;
      border-radius: 10px;
  }
  .border-ip.disable{
      background: #eeeeee;
  }
  .border-right-custom{
      border-right: 1px solid #dddddd;
      padding-right: 0px;
  }
  .Popover-below{
      z-index: 9999999;
  }
  .search-ctn{
      background: #f3f3f3;
      background-image: url('/img/Rectangle655.svg');
  }
  .search-result{
      margin: 30px 0;
  }
  .search-result .rns-note{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
      text-align: center
  }
  .search-result h3{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
  }

  .product---list{
      margin-top: 50px;
  }
  .vjbaner{
      background-image: url(/img/MaskBanner.png);
      width: 100%;
      height: 500px;
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: cover;
  }
  .radio-group-select{
      display: flex;
  }
  .jx02{
      margin-left: 20px;
  }
  .sltexd .custom-control-label{
      color: #212121;
  }
  .search-action{
      text-align: center;
      padding-top: 25px;
      padding-left: 25px;
      padding-right: 25px;
  }
  .search-action-button{
      height: 40px;
      background: #DA2128;
      border-radius: 40px;
      color: #ffffff;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      text-align: center;
      width: 200px;
      border:none;
  }
  .search-action-button:hover, .search-action-button:focus{
      background: #DA2128;
  }
  .search-action-button .fa-search{
      width: 0px;
      opacity: 0;
      margin-right: 0px;
      transition: all 0.2s;
  }
  .search-action-button:hover .fa-search{
      width: 15px;
      opacity: 1;
      margin-right: 10px;
  }
  .m-action{
      text-align: center;
      padding: 20px 0px;
  }
  .m-action .red-button{
      width: 200px;
      height: 40px;
      background: #DA2128;
      border-radius: 40px;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      border:none;
  }
  .mt-15{
      margin-top: 15px;
  }
  .p-footer-note{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #444444;
  }
  .p-footer-note .text-phone-contact{
      text-decoration-line: underline;
      color: #329945;
  }
  .modal-footer{
      justify-content: center!important;
  }
  .slick-list {
      margin: 0 -15px!important;
  }
  .slick-slide>div {padding: 0 15px;}
  .action-group-slide{
      display: flex;
  }
  .m-head-product{
      display: flex;
      margin-bottom: 20px;
  }
  .m-head-product h3{
      width: 100%;
  }
  .action-group-slide .arleft, .action-group-slide-mobile .arleft{
      cursor: pointer;
      margin-right: 10px;
  }
  .action-group-slide .arright, .action-group-slide-mobile .arright{
      cursor: pointer;
      margin-left:10px;
  }
  .action-group-slide-mobile{
      display: none;
  }
  .footer{
      padding-top: 50px;
  }
  .footer .footer-h3{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #212121;
  }
  .footer p{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #777777;
  }
  .footer a{
      text-decoration-line: underline;
      color: #329945
  }
  .footer i{
      margin-right: 15px;
  }
  .footer .footer-copy-right{
      padding: 15px 0px;
      text-align: center;
      border-top:1px solid #dddddd;
      margin-top: 20px;
  }
  .footer .m-item{
      padding-top: 14px;
      display: flex;
      text-align: left;
  }
  .footer .footer-menu{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .footer .footer-menu li a{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      text-decoration-line: underline;
      color: #329945;
  }
  .footer li{
      padding: 0;
      line-height: 39px;
  }
  .footer .input-email-subcriber .button-submit{
      height: 45px;
      width: 50px;
      background: #DA2128;
      border-radius: 0px 9px 9px 0px;
      border:1px solid #DA2128;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #FFFFFF;
      right: 0;
  }
  .footer .input-email-subcriber{
      display: flex;
      margin-top: 23px;
  }
  .footer .input-email-subcriber input{
      color: #329945;
      font-family: Nunito;
      font-style: normal;
      border: 1px solid #DDDDDD;
      height: 45px;
      width: 100%;
      border-right: none;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      padding-left: 10px;
  }
  .footer .mt-20{
      margin-top: 20px;
  }
  .footer .social-list{

  }
  .footer .social-list a{
      color: #A1A1A1;
      transition: color 0.2s;
      margin-right: 15px;
  }
  .footer .social-list a:hover{
      color: #329945;
  }
  .footer{
      background-image: url('/img/footer-background.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  .page-loader{
      width: 100%;
      height: 100%;
      position: fixed;
      background: #fff;
      z-index: 999999;
      top: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
       opacity: 1;
  }
  .ckt_banner_bank {
      width: 75%;
  }
  .page-loader.hide{
      opacity: 0;
  }
  .page-loader.none{
      display: none;
  }
  .form-control:focus{
      box-shadow: none;
  }
  .mk-loading{
      position: absolute;
      width: 42px;
       top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
  /*BH Suc khoe danh cho Nhan vien vietjet va HDBANK*/

  .child-banner{
      width: 100%;
      height: 600px;
      border-radius: 16px;
      background-image: url('/img/vietjet/top-banner-vietjet.png');
      background-size: cover;
      display: flex;
  }
    .child-banner-hdbank{
        width: 100%;
        height: 600px;
        border-radius: 16px;
        background-image: url('/img/hdbank/top-banner-hdbank.png');
        background-size: cover;
        display: flex;
    }
  .child-banner-hdsaison{
        width: 100%;
        height: 600px;
        border-radius: 16px;
        background-image: url('/img/bhsk/hdsaison/top_banner.png');
        background-position-x: center;
        background-size: cover;
        display: flex;
    }
    .child-banner-phulong{
        width: 100%;
        height: 600px;
        border-radius: 16px;
        background-image: url('/img/bhsk/phulong/banner_top.png');
        background-position-x: center;
        background-size: cover;
        display: flex;
    }
    .ctn_phulong_uudiemct {
        background-color: white;
    }
  .content-top-banner{
      display: inline-block;
      align-self: flex-end;
      margin-bottom: 102px;
  }
  .content-top-banner h1{
      font-weight: bold;
      font-size: 36px;
      line-height: 54px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  }
  .content-top-banner p{
      margin-top: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      margin-top: 16px;
      display: block;
      align-items: center;
      color: #FFFFFF;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  }
  .content-top-banner p .red{
    color: #DA2128;
  }
  .time-container{
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      padding: 24px 0;
      margin-top: -60px;
      z-index: 10;
      position: relative;
  }
  .text-time-dk{
      font-family: Nunito;
      font-size: 18px;
      line-height: 27px;
      color: #212121;
      font-style: normal;
      font-weight: 400;
      padding-left: 15px;
      width: 170px;
      margin-bottom: 0 !important;
  }
  .time-top-bannner{
      font-family: Nunito;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #DA2128;
      margin-bottom: 0 !important;
  }
    a.btn.register-bh:hover {
        color: white;
    }
    a.btn.register-bh{
        width: 187px;
        height: 44px;
        background: #DA2128;
        border-radius: 100px;
        border: none;
        color: #FFFFFF;
        padding-top: 10px;
    }
  .time-border-right{
      border-right: 1px solid #dddddd;
  }
  .center-cont{
      text-align: center;
  }
  .advantages_program{
      padding-top: 30px;
      background: #FFFFFF;
  }
  .img-advant{
      width: 100%;
      height: 100%;
      max-width: 433px;
      max-height: 433px;
  }
  .title-advant{
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      color: #212121;
      padding-top: 80px;
  }
  .adv-item{
      padding-top: 16px;
      display: flex;
      text-align: left;
      margin-bottom: 0 !important;
  }
  .adv-item i{
      margin-top: 3px;
      color: #329945;
  }
  .adv-item label{
      margin-left: 8px;
      margin-bottom: 0 !important;
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #333333;
  }
  .abu-body .adv-item i{
      margin-top: 0;
  }
  .abu-body .adv-item label{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #666666;
  }
  .package-insurrance{
      padding: 60px 0;
      position: relative;
  }
  .package-insurrance h1 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #329945;
  }
  .package-insurrance p {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #212121;
      margin-bottom: 0;
  }
  .scroll-item {
      margin-top: 40px;
  }
  .info-item-packge{
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
      border-radius: 6px;
  }
  .info-item-packge:hover {
      border: 1px solid #329945;
  }
  .info-item-packge:hover .footer-item-package .register-item-package {
      background: #329945;
      background: #329945;
      border: 1px solid #329945;
      box-sizing: border-box;
      border-radius: 6px;
      color: #FFFFFF;
  }
  .title-item-package h1{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #333333;
  }
  .title-item-package p{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #333333;
  }
  .title-item-package{
      background: #EEFFF1;
      border-radius: 5px 5px 0px 0px;
      padding: 23px 0 16px 0;
  }
  .register-item-package{
      background: #EEFFF1;
      border: 1px solid #329945;
      box-sizing: border-box;
      border-radius: 6px;
      width: 100%;
      padding: 10px 37px;
      color: #329945;
      margin-top: 24px;
  }
  .benefit-item-package {
      padding: 0 16px;
      height: 206px;
      white-space: normal;
  }
  .benefit-item-package i {
      margin-top: 0;
  }
  .benefit-item-package label {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #333333;
      text-align: left;
  }
  .footer-item-package p {
      margin: 16px 0;
  }
  .footer-item-package a.detail-item-package {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-decoration-line: underline;
      color: #329945;
      padding: 16px 0;
      cursor: pointer;
  }
  .footer-item-package{
      padding: 0 16px;
  }
  .img-background-package {
      width: 100%;
      height: 100%;
      max-height: 233px;
      position: absolute;
      bottom: 0;
  }
  .tutorial{
      padding: 60px 0;
      background: #F9F9F9;
  }
  .title-tutorial{
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      color: #329945;
  }
  .img-tutorial{
      width: 100%;
      height: 100%;
      max-height: 350px;
      border-radius: 16px;
      margin-top: 44px;
  }
  .img-tutorial-vietjet{
      width: 100%;
      height: 100%;
      max-height: 500px;
      border-radius: 16px;
      margin-top: 44px;
  }
  .tutorial-register{
      padding: 24px;
      background: #FFFFFF;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      border-radius: 16px;
      margin-bottom: 16px;
  }

  .title-tutorial-register {
      border-bottom: 1px solid #EEEEEE;
  }
  .title-tutorial-register p {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      color: #333333;
  }
  .content-tutorial-register .adv-item label {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
  }
  .background-support {
      width: 100%;
      height: 100%;
      background-image: url(/img/img_background_support.png);
      background-size: cover;
      border-radius: 16px;
      padding-top: 101px;
      padding-bottom: 103px;
  }
  .background-support h1 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      color: #FFFFFF;
  }
  .background-support p {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;
      margin-bottom: 0;
  }
  .support-kh{
      text-align: center;
      padding: 60px 0;
      background: #FFFFFF;
      position: relative;
  }
  .background-support .contact-info{
      margin-top: 24px;
  }
  .background-support .contact-info i{
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 8px;
      color: #329945;
      padding: 10px;
  }
  .background-support .contact-info a{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-decoration-line: underline;
      color: #FFFFFF;
      text-align: center;
      padding-left: 10px;
  }
  .bg-sp {
      position: absolute;
      top: 0;
  }
  .img-bg-sp {
      width: 100%;
      height: 100%;
  }
  .faq {
      background-image: url(/img/img_background_faq.png);
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      padding-bottom: 60px;
      position: relative;
  }
  .custom-input {
      background: #FFFFFF;
      /*border: 1px solid #DDDDDD;*/
      box-sizing: border-box;
      /*border-radius: 10px;*/
  }
  .custom-input
  .custom-input .input-group-prepend {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 190px;
  }
  .custom-input .input-group-prepend input {
      width: 190px;
      background: #329945;
      border-radius: 0px 9px 9px 0px !important;
      border: none;
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #FFFFFF;
  }

  .title-faq{
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #212121;
  }
  .faq-ic i {
      margin-right: 8px !important;
      margin-top: 3px !important;
      float: left !important;
      transform: rotate(0deg) !important;
  }
  .faq .abu-item-faq .btn.btn-link, .abu-item-active-faq .btn.btn-link {
      width: 100%;
      text-align: left;
      color: #333333;
      text-decoration: none;
      padding: 16px 0;
      font-weight: 600;
  }
  .faq .abu-item-faq .btn.btn-link i, .abu-item-active-faq .btn.btn-link i {
      float: right;
      color: #329945;
      margin-top: 5px;
      transition: all 0.8s;
  }
  .faq .abu-item-faq{
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
      transition: all 0.8s;
      /*margin-bottom: 15px;*/
      border-bottom: 1px solid #dddddd;
  }
  .faq .abu-item-active-faq {
      background: rgb(255, 255, 255);
      font-family: Nunito;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 1px solid #dddddd;
  }
  .faq .abu-item-active-faq .btn.btn-link i {
      float: right;
      color: #329945;
      margin-top: 5px;
      transform: rotate(180deg);
  }
  .faq .abu-item-faq .abu-body, .abu-item-active-faq .abu-body{
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: left;
      margin: 0 16px;
  }
  .document-down {
      padding-top: 60px;
      background: #F9F9F9;
      padding-bottom: 120px;
      position: relative;
  }
  .policy-document{
    padding-bottom: 60px;
  }
  .view-positins {
      position: relative;
      z-index: 1;
      /*margin-top: 24px;*/
  }
  .img-bg-dc {
      width: 100%;
      height: 100%;
      max-height: 273px;
      position: absolute;
      bottom: 0;
  }
  .document-down h1 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #329945;
  }
  .item-document{
      background: #F4F4F4;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 16px;
      margin-top: 24px;
  }
  .item-document i{
      float: left;
      color: #329945;
      margin-top: 3px;
      margin-right: 8px;
  }
  .item-document label{
      float: right;
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #329945;
      cursor: pointer;
  }
  .banner-app-intro {
      margin-top: -60px;
      padding-bottom: 60px;
  }
  /*hd-bank*/
  .packge-hdbank{
      padding: 60px 0;
      position: relative;
      z-index: 1;
  }
  .packge-hdbank h1 {
      font-family: Nunito;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 72px;
      text-align: center;
      color: #329945;
  }
  .packge-hdbank p {
      font-family: Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #212121;
      margin-bottom: 0;
  }
  .content-packge-hdbank {
      background: #FFFFFF;
      border: 1px solid #DDDDDD;
      box-sizing: border-box;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      margin-top: 41px;
  }
  .header-content-package{
      background: #EEFFF1;
      border-radius: 6px;
      padding: 21px 0 16px 16px;
      text-align: center;
  }
  .name-package-insur-hdbank{
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #329945;
  }
  .register-package-hdbank{
      width: 268px;
      border: 1px solid #329945;
      background: #329945;
      border-radius: 6px;
      padding: 10px;
      color: #FFFFFF;
      margin-left: 52px;
  }
a.register-package-hdbank:hover{
    color: #FFFFFF;
}
  .detail-package-hdbank {
      /*text-align: center;*/
      border-top: 1px solid #EEEEEE;
      margin-top: 24px;
      padding: 16px 0;
  }
  .detail-package-hdbank .text-detail {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-decoration-line: underline;
      color: #329945;
  }

  .modal-content-custom > .modal-dialog {
      width: 100%;
      height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
  }

  .modal-content-custom .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
  }
  .modal-header-custom {
      background: rgba(25, 25, 25, 0.8);
      color: #FFFFFF;
      padding: 8px 24px 32px 24px;
      border-radius: 0;
      height: 44px;
  }
  .modal-header-custom .close-modal-custom {
      font-family: Nunito;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
  }
  .modal-header-custom .close-modal-custom label {
      margin-left: 8px;
  }
  .modal-body-custom {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      /* margin-top: -30px; */
  }
  .height-expand {
      max-height: 100%;
      position: relative;
  }
  .height-compact {
      max-height: 420px;
      position: relative;
      overflow: hidden;
  }
  .btn-colapp {
      position: absolute;
      bottom: 0;
      background: #FFFFFF;
      color: #329945;
      padding-top: 6px;
      width: 100%;
  }
  .btn-colapp label {
      margin-right: 8px;
  }

