p{
	font-family: Nunito;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
}
a{
 transition: all 0.3s;
}
a:hover{
 color: #DA2128;
}
input[data-readonly] {
  pointer-events: none;
}
.hd-container{
    max-width: 1340px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.hd-container{


}
.search-coupon-container{

}
.navbar{
	-webkit-box-shadow: 0px 0px 9px -6px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 0px 9px -6px rgba(0,0,0,0.43);
	box-shadow: 0px 0px 9px -6px rgba(0,0,0,0.43);
}
.top-banner{
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.head-top-banner{
	position: initial;
}
.jm-banner{
	background: url(/img/header-banner.png);
    width: 100%;
    min-height: 800px;
    background-size: cover;
    background-position-y: bottom;
/*    position: absolute;
    top: 0;
    left: 0;*/
}
.space-100{
	height: 100px;
	width: 100%;
}

.iz-img{
	width: 100%;
	padding: 15px;
}
.formhead.f1 p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.p-error{
	margin-top: 10px;
    color: #E91E63!important;
    margin-left: 10px;
}
.formhead.f1 h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	color: #333333;
}
.text-green{
	color: #329945!important;
}

.bold-red{
	color: #DA2128;
	font-weight: bold;
}
.line{
	width: 100%;
	height: 1px;
	background: #dddddd;
}
.mt15{
	margin-top: 15px;
}
.form-input-voucher{
	position: relative;
	max-width: 409px;
}
.form-input-voucher.error .input-vc{
	border: 1px solid #de1212;
}
.form-input-voucher.error .input-vc::placeholder{
	color: #de1212;
}
.form-input-voucher .input-vc{
	width: 100%;
	border:1px solid #dddddd;
	border-radius: 100px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	height: 54px;
	line-height: 24px;
	padding-left: 30px;
	color: #212121;
	transition: all 0.3s;
	text-transform:uppercase;

}
.form-input-voucher .input-vc:focus::placeholder{
	color: #329945;
}
.form-input-voucher .input-vc:focus{
	border-color: #329945;
}
.form-input-voucher .input-vc::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  text-transform: initial;
  transition: color 0.3s;
}

.form-input-voucher .input-vc:-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 1; /* Firefox */
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  text-transform: initial;
  transition: color 0.3s;
}

.form-input-voucher .input-vc::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 1; /* Firefox */
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  text-transform: initial;
  transition: color 0.3s;
}

.form-input-voucher button{
	position: absolute;
	width: 106px;
	height: 44px;
	top: 5px;
	right: 5px;
	border:none;
	background: #329945;
	border-radius: 100px;
	transition: background 0.3s;
}
.form-input-voucher button:hover, .form-input-voucher button:focus, .form-input-voucher button:active{
	background-color: #238635;
	color: #fff!important;
}
.form-input-voucher{

}
.form-input-voucher{

}
.aboutus{
	/*background: #fff;*/
	/*margin-top: 30px;*/
	/*position: relative;*/
	/*padding: 50px 0px;*/
	width: 100%;
	margin-top: -45px;
	padding-top: 180px;
	padding-bottom: 60px;
	background: #F0FEF5;
	overflow: hidden;
}
.aboutus .aboutus-banner{
	text-align: center;
	height: 566px;
}
.aboutus-banner{
  position: relative;
}


.aboutus .imgbn{
    width: 100%;
    z-index: 9;
    position: relative;
    max-width: 490px;
    border-radius: 20px;
    transition: 0.5s;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    box-shadow: rgba(24, 32, 79, 0.25) 0px 40px 80px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
}
.particex{
	width: 120%;
    height: 100%;
	background: linear-gradient(270deg, #5BBD6F 0%, #3BA14E 100%);
	border-radius: 16px;
	position: absolute;
	/*transform: skewY(8deg);*/
    transform-origin: left top 0px;
    top: 0px;
    left: 50%;
    position: absolute;
    transition: .5s;
    -webkit-transition: .5s;
}
.aboutus-banner:hover .imgbn{
	-ms-transform: translateY(-52%);
    transform: translateY(-52%);
    box-shadow: rgba(24, 32, 79, 0.25) 0px 100px 100px, rgba(255, 255, 255, 0.5) 0px 0px 0px 0.5px inset;
}
.aboutus-banner:hover .particex{
	-ms-transform: translateX(2%);
    transform: translateX(2%);
}


.aboutus .fake-green{

	background: #3BA14E;
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0;
}
.aboutus .content h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	color: #329945;
}
.aboutus .content p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
}
.aboutus .content .abu-item{
	background: #F4F4F4;
	border-radius: 6px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	transition: all 0.8s;
	margin-bottom: 15px;
	border: 1px solid #dddddd;
}
.aboutus .content .abu-item .abu-body, .abu-item-active .abu-body{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	padding: 15px;
}
.aboutus .content .abu-item .btn.btn-link, .abu-item-active .btn.btn-link{
	width: 100%;
	text-align: left;
	color: #333333;
	text-decoration: none;


}
.aboutus .content .abu-item .btn.btn-link i, .abu-item-active .btn.btn-link i{
	float: right;
	color: #329945;
	margin-top: 5px;
	transition: all 0.8s;
}
.abu-item-active .btn.btn-link i{
	float: right;
	color: #329945;
	margin-top: 5px;
	transform: rotate(180deg);
}
.abu-item-active{
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	transition: all 0.8s;
	border: 1px solid #00000000;
}

.need-suport{
	position: relative;
}
.need-suport .bold-green{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	color: #329945;
}
.need-suport p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #333333;
}
.need-suport h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #333333;
}
.need-suport{
	padding: 30px 0px;
	background: #F9F9F9;
}
.need-suport .contact-info i{
	background: #329945;
	border: 1px solid #329945;
	box-sizing: border-box;
	border-radius: 8px;
	color: #fff;
	padding: 10px;
}
.need-suport .contact-info a{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	text-decoration-line: underline;
	color: #329945;
	text-align: center;
	padding-left: 10px;
}
.need-suport .contact-info{
	padding:25px 0px;
}
.need-suport .contact-info{

}
.need-suport .submit-info{
	background: #329945;
	border-radius: 10px;
	color: #ffffff;
	border:none;
	padding: 10px 30px;
	margin-top: 20px;
	width: 180px;
}
.need-suport .mt20{
	margin-top: 20px;
}
.banner{
	border-radius: 40px;
	position: relative;
    z-index: 9;

}
.banner-container{
	background: #FFFFFF;
	padding: 40px 0px;
	/* padding-top: 0; */
	position: relative;
}
.banner-container .bot-space{
	background: #ffffff;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
}
.pratice{
	position: absolute;
    bottom: 0;
    width: 1100px;
    right: 0;
}
.force{
	z-index: 999;
    position: relative;
}
.formhead.f2{
	width: 100%;
}
.card{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
}
.card-detail{
	width: 100%;
	padding: 20px;
}
.card-detail h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #DA2128;
}
.card-detail .inf-row{
	display: flex;
	margin-bottom: 10px;
}
.card-detail .inf-row .clef{
	width: 99px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #777777;
}
.card-detail .inf-row .cright{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #212121;
	padding-left: 10px;
}
.green-bold{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #329945;
	text-decoration: none;
}
.card-detail .inf-row .green-bold:hover{

}
.mt20{
	margin-top: 20px;
}
.submit-info-f{
	margin-top: 20px;
	padding: 12px 30px;
	background: #329945;
	border-radius: 10px;
	color: #ffffff;
	border:none;
	transition: all 0.3s;
}
.submit-info-f:hover{
	background: #358a45;
}
.submit-info-f:focus{
	background: #358a45;
}
.p-f-note{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #BA0000;
	margin-bottom: 0;
}
.formhead.f2{
	margin-top: 30px;
}


/* label */
.rd-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 12px 0;

  cursor: pointer;
  position: relative;
}


/* input */
.rd {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



/* .design */
.rd-design {
  width: 16px;
  height: 16px;

  border: 1px solid #4fb463;
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.rd-design::before,
.rd-design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.rd-design:before {
  background: #4fb463;
  opacity: 0;
  transition: .3s;
}

.rd-design::after {
  background: #43ab58;
  opacity: .4;
  transition: .6s;
}


.rd-group{
	display: flex;
}
/* .text */
:root {
  --checkbox-radio-size: 16px;
  --checkbox-radio-gap: var(--space-xxxs);
  --checkbox-radio-border-width: 1px;
  --checkbox-radio-line-height: var(--body-line-height);
  --radio-marker-size: 8px;
  --checkbox-marker-size: 12px;
  --checkbox-radius: 4px;
}

.radio,
.checkbox {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.radio + label,
.checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  line-height: 18px;
  user-select: none;
  cursor: pointer;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.radio + label::before,
.checkbox + label::before {
  content: '';
  display: inline-block;
  position: relative;
  margin-right: 10px!important;
  top: calc((1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2);
  flex-shrink: 0;
  width: var(--checkbox-radio-size);
  height: var(--checkbox-radio-size);
  background-color: var(--color-bg);
  /* border-width: var(--checkbox-radio-border-width);
  border-color: var(--color-contrast-low);
  border-style: solid; */
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: var(--checkbox-radio-gap);
  transition: transform .2s, border .2s;
}

input[type="checkbox"]:disabled + label:before {
    border-color: #dddddd;
    color: #ccc;
    background: #dddddd;
    cursor: not-allowed;
}
input[type="checkbox"]:disabled + label p {
    cursor: not-allowed;
}

.radio:not(:checked):not(:focus) + label:hover::before,
.checkbox:not(:checked):not(:focus) + label:hover::before {
  border-color: hsl(var(--color-contrast-low-h), var(--color-contrast-low-s), calc(var(--color-contrast-low-l) * 0.7));
}

.radio + label::before {
  border-radius: 50%;
}

.checkbox + label::before {
  border-radius: var(--checkbox-radius);
}

.radio:checked + label::before,
.checkbox:checked + label::before {
  margin-right: 10px!important;
  background-color: #4fb463;
  box-shadow: none;
  border-color: #4fb463;
  transition: transform .2s;
}

.radio:active + label::before,
.checkbox:active + label::before {
  transform: scale(0.8);
  transition: transform .2s;
}

.radio:checked:active + label::before,
.checkbox:checked:active + label::before {
  transform: none;
  transition: none;
}

.radio:checked + label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E")!important;
  background-size: 8px;
}

.checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E")!important;
  background-size: 12px;
}

.radio:checked:active + label::before,
.checkbox:checked:active + label::before,
.radio:focus + label::before,
.checkbox:focus + label::before {
  border-color: #4fb463;
  box-shadow: 0 0 0 3px #4fb4635c;
}

.radio--bg + label, .checkbox--bg + label {
  padding: var(--space-xxxxs) var(--space-xxxs);
  border-radius: var(--radius-md);
  transition: background .2s;
}

.radio--bg + label:hover, .checkbox--bg + label:hover {
  background-color: var(--color-contrast-lower);
}

.radio--bg:active + label,
.checkbox--bg:active + label,
.radio--bg:focus + label,
.checkbox--bg:focus + label {
  background-color: #4fb4635c;
}
.sp-hoz{
	width: 20px;
}
.otp-input .confirm{
	background: #329945;
	border-radius: 10px;
	height: 54px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	border:none;
	width: 100%;
}
.otp-input .resend{
	cursor: not-allowed!important;
	background: #EEEEEE;
    border-radius: 10px;
    height: 54px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #DA2128;
	border:none;
	width: 100%;
}
.otp-input .resend.enb{
	cursor: pointer!important;
	background: #fff;
	color: #DA2128;
	border: 1px solid #DA2128;
	width: 100%;
}
.otp-input .confirm:active{
	background: #329945!important;
	border-radius: 10px!important;
	height: 54px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	border:none;
}
.otp-input .resend:active{
	background: #EEEEEE!important;
    border-radius: 10px!important;
    height: 54px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #DA2128!important;
	border:none;
}
.otp-input{

}
.formhead.f4 h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 72px;
	color: #329945;
}
.btn-extend{
	height: 54px;
	border-color: #329945;
	background: #329945;
	border-radius: 10px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
	transition: all 0.3s;
}
.btn-extend:hover{
	background: #288639;
	color: #FFFFFF;
}
.formhead.f4 .view-detail-btn, .formhead.f4 .view-more{
	width: 100%;
}
.formhead.f4 .view-detail-btn{
	height: 54px;
	background: #FFFFFF;
	border: 1px solid #329945;
	border-radius: 10px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #329945;
	transition: all 0.3s;
}
.formhead.f4 .view-detail-btn:hover{
	background: #f3fff5;
}
.formhead.f4 a{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #329945;

}
.formhead.f4 .text-center{
	text-align: center;
}
#float-label .react-loading-skeleton{
	z-index: 9999;
}
.sploading{
	width: 100%;
	text-align: center;
}












