@media only screen and (min-width: 768px) {
	.formhead{

		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	}
	.top-banner{
	    margin-top: -80px;
	}
	.baner-content-center{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: 100%;
	}
	.h80px{
		min-height: 80px;
	}
}


@media only screen and (max-width: 767px) {
	/* For mobile phones: */
	.ckt_banner_bank {
		width: 100%;
	}
	.child-banner, .child-banner-hdbank{
		margin-top: 0;
		border-radius: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url('/img/hdbank/top-banner-hdbank-mobile.png');
	}
		.child-banner, .child-banner{
		margin-top: 0;
		border-radius: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-image: url('/img/vietjet/top-banner-vietjet.png');
	}
	.hd-container {
		padding: 0;
	}
	.text-time-dk{
		width: 283px;
	}
	.form-register-bh {
		padding: 0;
	}
	.form-register-bh .time-container {
		margin-left: 16px;
		margin-right: 16px;
		margin-top: -85px;
	}
	.form-time-dk{
		padding: 16px 0;
	}
	.time-top-bannner{
		font-size: 16px;
		line-height: 24px;
	}
	.banner .app-dive-text{
		display: none;
	}
	.advantages_program{
		padding: 0 16px;
	}
	.title-advant{
		padding-top: 24px;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 0;
	}
	.package-insurrance{
		padding: 40px 16px;
	}
	.view-positins {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}
	.view-positins .scroll-item {
		display: inline-block;
		width: auto;
	}
	.package-insurrance h1 {
		font-size: 24px;
		line-height: 36px;
	}
	.package-insurrance p {
		font-size: 14px;
		line-height: 21px;
	}
	.tutorial {
		padding: 40px 0px;
	}
	.title-tutorial{
		font-size: 24px;
		line-height: 36px;
		text-align: center;
	}
	.img-tutorial {
		margin-top: 0;
		padding-bottom: 46px;
	}
	.tutorial-register{
		margin-top: 16px;
	}
	.support-kh {
		padding: 0;
	}
	.background-support{
		padding: 40px 16px;
	}
	.background-support h1{
		text-align: left;
		font-size: 24px;
		line-height: 36px;
	}
	.background-support .contact-info {
		margin-top: 0px;
	}
	.contact-info > .col-md-4 {
		margin-top: 24px;
	}
	.background-support p{
		font-size: 14px;
		line-height: 21px;
		text-align: left;
	}
	.faq {
		padding: 40px 0;
	}
	.title-faq {
		font-size: 24px;
		line-height: 36px;
	}
	.height-compact{
		max-height: 555px;
		overflow: auto;
    	position: relative;
	}
	.faq .abu-item-faq .btn.btn-link, .abu-item-active-faq .btn.btn-link {
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
		color: #333333;
	}
	.document-down{
		padding: 40px 16px;
	}
	.document-down h1{
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 0;
	}
	.banner-app-intro{
		margin-top: 0;
	}
	.custom-input .input-group-prepend input {
		width: 92px;
	}
	.btn-download-group{
		margin-bottom: 50px;
		direction: rtl;
	}
	.banner h1, .banner h2, .banner p{
		/*text-align: center;*/
		font-size: 14px;
	}
	.child-bg .col-md-6{
		text-align: center;
	}
	.banner{
		background: linear-gradient(180deg, #5BBD6F 0%, #329945 100%)
	}
	.col-ssm-6{
		width: 50%;
		padding-right: 10px;
    	padding-left: 10px;
	}
	.pc-item .center-vertically span{
		font-size: 10px;
		text-align: left;
	}
	.pg-container .h5-title{
		font-size: 16px;
	}
	.select-payment-text{
		font-size: 14px;
	}

	.banner h2{
		margin-bottom: 29px!important;
	}
	.footer{
		padding: 20px 0;
	}
	.footer p{
		font-size: 14px;
		line-height: 14px;
		text-align: center;
	}
	.banner h1, .banner h2{
		font-size: 18px;
		margin-bottom: 0;
		line-height: 27px;
	}
	.footer .right{
		display: block;
		margin-top: 10px;
    	margin-bottom: 20px;
	}
	.footer .right p:first-child{
		margin: 0;
		margin-bottom: 10px;
	}
	.footer .right{
		line-height: 20px;
	}
	.pi-header{
		font-size: 14px;
	}
	.pi-body .l-left, .pi-body .l-right{
		font-size: 14px;
	}
	.pi-body .l-left{
		min-width: 134px;
	}
	.title-header{
		font-size: 14px;
		display: none;
	}
	.navbar-toggler-icon{
		color: #329945;
	}
	.navbar-light-hdi{
		padding-left: 15px;
    	padding-right: 0;
	}
	.title-header-mobile{
		display: block;
		text-transform: uppercase;
	    color: #329945;
	    font-family: Nunito;
	    font-weight: bold;
	    font-size: 14px;
	    font-style: normal;
	    position: absolute;
	    left: 89px;
	    height: 42px;
	}
	.footer .row{
		margin: 0!important;
	}
	.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.2s;
  font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: #212121;
	border-bottom: 1px solid #ddd;
	padding-bottom: 7px;
}
.bm-item img{
	margin-right: 10px;
}
.bm-menu-wrap{
	top: 0px;
}
/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 15px 15px 0;
  font-size: 1.15em;
}
.btn-close-menu{
	position: absolute;
    right: 10px;
    top: 11px;
    color: #a5b9b9;
    padding: 9px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.navbar-toggler{
	position: absolute;
    right: 0;
}
.bm-cross-button{
	top: 20px;
}
.qr-app{
	width: 118px!important;
	height: 118px!important;
	margin-left: 15px;
}
.app-download .btn-download-group img{
	width: 120px!important;
	height: 43.5px!important;
	margin-right: 15px;
}
.btn-download-group{
	width: 50%;
	padding-top: 5px;
}
.products .product-item{
	margin-bottom: 30px;
}
.error-frame img{
	width: 100%;
}
.more-product{
	padding: 5px 20px 50px;
}
.tr{
	text-align: center;
}
.tl{
	text-align: center;
	margin-top: 35px;
}



/*-------------- START --------------*/


.formhead{
	position: initial;
	-ms-transform: none;
	transform: none;
}
.top-banner{
	padding-top: 90px;
    margin-top: -80px;
    background-position-x: center;
}
.formhead.f1 h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
}
.formhead.f1 p, p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #444444;
}
.aboutus{
	margin-top: 0px;
	padding: 40px 16px;
}
.aboutus .aboutus-banner{
	height: 403px;
}
.aboutus .content h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	color: #329945;
	/*margin-top: 20px;*/
}
.aboutus .content p{
	font-size: 14px;
}
.need-suport h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 36px;
	color: #333333;
	text-align: left;
}
.need-suport p{
	font-size: 14px;
	text-align: left;
}
.need-suport .contact-info a{

}
.need-suport .submit-info{
	width: 100%;
}
.banner{
	border-radius: 16px;
}
.formhead.f2{
	margin-top: 20px;
}
.submit-info-f{
	width: 100%;
}
.card-detail h3{
  font-size: 16px;
  line-height: 24px;
}
.card-detail .inf-row .cright{
	font-size: 14px;
	line-height: 21px;
}
.card-detail .inf-row .clef{
	font-size: 14px;
	line-height: 21px;
}
.green-bold, .radio + label, .checkbox + label{
	font-size: 14px;
	line-height: 21px;
}
.baner-content-center{
	min-height: 678px;
}
.formhead.f4 h1{
  font-size: 24px;
  line-height: 36px;
}
.jm-banner{
	position: absolute;
	top: 0;
	left: 0;
}

}
